div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    box-sizing: border-box;
    color: white;
    height: 100%;
    font-family: sans-serif;
}